@media screen and (max-width: 768px) {
  .container {
      position: static;
      display: flex;
      flex-direction: column;
      height: fit-content;
      min-height: 100vh;
      padding: 1.5rem;
      gap: 1rem;
      margin-top: 1.5rem;
  }

  header, .input, .result-container, .btn-info, .result, footer {
      position: static;
      width: auto;
  }

  .input {
      font-size: 25px;
      width: 100%;
      min-height: 60vh;

  }

  .form-buttons {
      display: flex;
      flex-direction: column;
  }

  .result-container {
      margin-top: 10em;
  }

  .no-result-image {
      display: none;
  }

  #rText, .info-result {
      width: 100%;
  }

  #btnCopy {
      margin-top: 63em;
      left: 50px;

  }
}

@media (max-width: 375px) {
  .input-container .input {
      min-height: 30vh;
  }

  .input-container .form-buttons {
      flex-direction: column;
  }
}